html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

* {
  box-sizing: border-box;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

button {
  border: none;
  background: none;
}

body {
  line-height: 1.2;
}

ol {
  padding-left: 1.4em;
  list-style: decimal;
}

ul {
  padding-left: 1.4em;
  list-style: square;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  padding: 0;
  margin: 0;
  border-radius: 0;
  border: none;
  outline: none !important;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  font-style: italic;
  shape-margin: 0.75rem;
}

@font-face {
  font-family: ProximaNova-Semibold;
  font-display: swap;
  src: url("../fonts/ProximaNova-Semibold.woff2") format("woff2"), url("../fonts/ProximaNova-Semibold.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: ProximaNova-Regular;
  font-display: swap;
  src: url("../fonts/ProximaNova-Regular.woff2") format("woff2"), url("../fonts/ProximaNova-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
:root {
  --minheight: 500px ;
}

#sec_9 .container .top-cont .title, .main-title {
  font-family: ProximaNova-Regular;
  font-size: 80px;
  line-height: 0.9;
  letter-spacing: -0.02em;
}
@media screen and (max-width: 1400px) {
  #sec_9 .container .top-cont .title, .main-title {
    font-size: 60px;
  }
}
@media screen and (max-width: 1200px) {
  #sec_9 .container .top-cont .title, .main-title {
    font-size: 40px;
  }
}

#sec_9 .container .bottom-cont, #sec_4 .tabcontent .tab-card .title, .head-title, .modal .modal-content .title {
  font-family: ProximaNova-Regular;
  font-size: 64px;
  line-height: 1;
  letter-spacing: -0.02em;
}
@media screen and (max-width: 1400px) {
  #sec_9 .container .bottom-cont, #sec_4 .tabcontent .tab-card .title, .head-title, .modal .modal-content .title {
    font-size: 40px;
  }
}
@media screen and (max-width: 1200px) {
  #sec_9 .container .bottom-cont, #sec_4 .tabcontent .tab-card .title, .head-title, .modal .modal-content .title {
    font-size: 30px;
  }
}

#sec_6 .swiper-review .swiper-slide .title {
  font-family: ProximaNova-Semibold;
  font-size: 28px;
  line-height: 1.2;
  letter-spacing: -0.04em;
}
@media screen and (max-width: 1400px) {
  #sec_6 .swiper-review .swiper-slide .title {
    font-size: 24px;
  }
}
@media screen and (max-width: 1200px) {
  #sec_6 .swiper-review .swiper-slide .title {
    font-size: 22px;
  }
}

.sub-title {
  font-family: ProximaNova-Semibold;
  font-size: 24px;
  line-height: 0.9;
  letter-spacing: -0.02em;
}
@media screen and (max-width: 1400px) {
  .sub-title {
    font-size: 20px;
  }
}
@media screen and (max-width: 1200px) {
  .sub-title {
    font-size: 18px;
  }
}

#sec_8 .point-item .point, #sec_5 .blocks-cont .block-cont .title, #sec_4 .tabcontent .tab-video-cont .video-desc a, #sec_4 .tabcontent .tab-card .bot-cont .total-cont div:last-child, #sec_2 .container .sec_2-cont .title {
  font-family: ProximaNova-Semibold;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.04em;
}
@media screen and (max-width: 1400px) {
  #sec_8 .point-item .point, #sec_5 .blocks-cont .block-cont .title, #sec_4 .tabcontent .tab-video-cont .video-desc a, #sec_4 .tabcontent .tab-card .bot-cont .total-cont div:last-child, #sec_2 .container .sec_2-cont .title {
    font-size: 18px;
  }
}
@media screen and (max-width: 1200px) {
  #sec_8 .point-item .point, #sec_5 .blocks-cont .block-cont .title, #sec_4 .tabcontent .tab-video-cont .video-desc a, #sec_4 .tabcontent .tab-card .bot-cont .total-cont div:last-child, #sec_2 .container .sec_2-cont .title {
    font-size: 16px;
  }
}

#sec_8 .point-item, #sec_5 .star-cont, .modal .modal-content .in-row .timer, .modal .modal-content .sub-title {
  font-family: ProximaNova-Regular;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: -0.02em;
}
@media screen and (max-width: 1400px) {
  #sec_8 .point-item, #sec_5 .star-cont, .modal .modal-content .in-row .timer, .modal .modal-content .sub-title {
    font-size: 30px;
  }
}
@media screen and (max-width: 1200px) {
  #sec_8 .point-item, #sec_5 .star-cont, .modal .modal-content .in-row .timer, .modal .modal-content .sub-title {
    font-size: 24px;
  }
}
@media screen and (max-width: 550px) {
  #sec_8 .point-item, #sec_5 .star-cont, .modal .modal-content .in-row .timer, .modal .modal-content .sub-title {
    font-size: 22px;
  }
}

body {
  font-family: ProximaNova-Regular;
  font-size: 18px;
  line-height: 1.4;
  letter-spacing: -0.02em;
}
@media screen and (max-width: 1400px) {
  body {
    font-size: 16px;
  }
}
@media screen and (max-width: 600px) {
  body {
    font-size: 14px;
  }
}

#sec_9, #sec_7, #sec_5, #sec_4, #sec_3 {
  margin-top: 120px;
}
@media screen and (max-width: 1400px) {
  #sec_9, #sec_7, #sec_5, #sec_4, #sec_3 {
    margin-top: 80px;
  }
}
@media screen and (max-width: 1200px) {
  #sec_9, #sec_7, #sec_5, #sec_4, #sec_3 {
    margin-top: 50px;
  }
}

a,
a:hover,
a:active,
a:visited,
a:focus {
  text-decoration: none !important;
  color: #f0f0f0;
}

button,
button:hover,
button:active,
button:visited,
button:focus {
  text-decoration: none !important;
  outline: none !important;
  color: #f0f0f0;
}

@media (min-width: 1420px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1400px;
  }
}
html {
  scroll-padding: 165px;
  scroll-behavior: smooth;
}
@media (max-width: 800px) {
  html {
    scroll-padding: 80px;
  }
}

body {
  color: #f0f0f0;
  background-color: #121212;
}
body.lock {
  overflow: hidden;
}

header {
  position: fixed;
  width: 100%;
  background-image: linear-gradient(180deg, rgba(18, 18, 18, 0.3) 0, rgba(255, 255, 255, 0) 100%);
  background-repeat: no-repeat;
  background-size: contain;
  transition: all 0.3s ease-in-out;
  top: 0;
  z-index: 1000;
  border-bottom: 1px solid transparent;
}
header.active {
  background: #121212;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}
header.hide {
  top: -62px;
}
@media screen and (max-width: 1000px) {
  header.hide {
    top: 0;
  }
}
header .sub-header {
  display: flex;
  padding: 15px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  align-items: center;
  gap: 20px;
}
header .sub-header .sh-address {
  flex: 1 1 auto;
  text-align: left;
  color: rgba(255, 255, 255, 0.6);
}
@media screen and (max-width: 1000px) {
  header .sub-header {
    display: none;
  }
}
header .main-header {
  display: flex;
  padding: 15px 0;
  align-items: center;
  gap: 20px;
}
header .main-header .logo {
  flex: 1 1 auto;
}
@media screen and (max-width: 1000px) {
  header .main-header {
    display: none;
  }
}
header .mobile-header {
  display: none;
  padding: 15px 0;
  align-items: center;
  gap: 20px;
}
header .mobile-header .logo {
  z-index: 70;
  flex: 1 1 auto;
}
@media screen and (max-width: 1000px) {
  header .mobile-header {
    display: flex;
  }
}
@media screen and (max-width: 400px) {
  header .mobile-header {
    gap: 10px;
  }
}
header .mobile-header .burger-wrapper {
  z-index: 70;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .mobile-header .burger {
  display: block;
  position: relative;
  width: 25px;
  height: 18px;
  z-index: 100;
}
header .mobile-header .burger:before, header .mobile-header .burger:after, header .mobile-header .burger .sp {
  content: "";
  position: absolute;
  width: 28px;
  height: 2px;
  left: 0;
  border-radius: 2px;
  transition: all 0.3s ease 0s;
}
header .mobile-header .burger:before {
  top: 0;
  background-color: #f0f0f0;
}
header .mobile-header .burger:after {
  bottom: 0;
  background-color: #f0f0f0;
}
header .mobile-header .burger .sp {
  display: block;
  top: 50%;
  transform: translateY(-50%);
  background-color: #f0f0f0;
}
header .mobile-header .burger.activebur:before {
  transform: rotate(45deg);
  top: 8px;
  background-color: #f0f0f0;
}
header .mobile-header .burger.activebur:after {
  transform: rotate(-45deg);
  bottom: 8px;
  background-color: #f0f0f0;
}
header .mobile-header .burger.activebur .sp {
  display: none;
}
header .mobile-header .links-cont {
  z-index: 50;
  position: fixed;
  top: 0;
  right: calc(-100% - 5px);
  width: 100%;
  height: 100dvh;
  background-color: #121212;
  overflow: auto;
  transition: all 0.5s ease 0s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
header .mobile-header .links-cont .links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
header .mobile-header .links-cont.activebur {
  right: 0;
}
header .mobile-header .links-cont .bottom-cont {
  position: absolute;
  bottom: 50px;
  display: flex;
  align-items: center;
  gap: 20px;
}
header .mobile-header .links-cont .bottom-cont .sh-address {
  color: rgba(255, 255, 255, 0.25);
}
@media screen and (max-width: 550px) {
  header .mobile-header .links-cont .bottom-cont {
    flex-direction: column;
    bottom: 20px;
    gap: 10px;
  }
}

.modal .modal-content {
  background: #1b1b1b;
  border: 1px solid rgba(255, 255, 255, 0.15);
  padding: 50px;
  border-radius: 40px;
  position: relative;
}
@media screen and (max-width: 1200px) {
  .modal .modal-content {
    border-radius: 0;
    border: 0;
  }
}
@media screen and (max-width: 550px) {
  .modal .modal-content {
    padding: 20px;
  }
}
.modal .modal-content .close-modal::after {
  content: url('data:image/svg+xml,<svg width="29" height="29" viewBox="0 0 29 29" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M22.25 22.25L6.75 6.75" stroke="white" stroke-width="1.26811" stroke-linecap="round"/><path d="M22.25 6.75L6.75 22.25" stroke="white" stroke-width="1.26811" stroke-linecap="round"/></svg>');
  height: 60px;
  aspect-ratio: 1;
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 50%;
  display: grid;
  place-items: center;
  position: absolute;
  padding-top: 7px;
  top: 50px;
  right: 50px;
}
@media screen and (max-width: 550px) {
  .modal .modal-content .close-modal::after {
    top: 20px;
    right: 20px;
    height: 40px;
    padding-top: 5px;
    content: url('data:image/svg+xml,<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M14.8335 15.4995L4.50016 5.16618" stroke="white" stroke-width="1.26811" stroke-linecap="round"/><path d="M14.8335 5.1665L4.50016 15.4998" stroke="white" stroke-width="1.26811" stroke-linecap="round"/></svg>');
  }
}
.modal .modal-content .title {
  width: 8.5em;
  margin-bottom: 10px;
}
.modal .modal-content .sub-title {
  color: #fff;
}
.modal .modal-content .sub-title span {
  color: #d19761;
}
.modal .modal-content .success-cont {
  display: none;
}
.modal .modal-content .success-cont .title {
  width: calc(100% - 100px);
}
.modal .modal-content .in-row {
  display: flex;
  gap: 30px;
  align-items: center;
  margin-top: 40px;
}
@media screen and (max-width: 550px) {
  .modal .modal-content .in-row {
    flex-direction: column;
  }
  .modal .modal-content .in-row .in-item {
    width: 100%;
  }
}
.modal .modal-content .in-row .in-label {
  margin-bottom: 10px;
}
@media screen and (max-width: 550px) {
  .modal .modal-content .in-row {
    flex-direction: column;
  }
}
.modal .modal-content .in-row input {
  padding: 1em 1.25em;
  border-radius: 2em;
  border: 2px solid rgba(255, 255, 255, 0.25);
  background-color: transparent;
  color: #f0f0f0;
}
.modal .modal-content .in-row input:active, .modal .modal-content .in-row input:focus {
  border: 2px solid #f0f0f0;
}
@media screen and (max-width: 550px) {
  .modal .modal-content .in-row input {
    width: 100%;
  }
}
.modal .modal-content .in-row .timer .timer__items {
  display: flex;
  align-items: center;
  gap: 5px;
}
.modal .modal-content .in-row .timer .timer__text {
  margin-left: -5px;
}
.modal .modal-content .in-row .timer * {
  color: #d19761;
}

footer {
  margin-top: 60px;
  border-top: 1px solid rgba(255, 255, 255, 0.15);
  width: 100%;
  position: relative;
}
footer .ell-5 {
  width: 100%;
  transform: translateX(-50%);
  left: 50%;
  bottom: 0;
}
footer .container {
  display: flex;
  padding: 20px 0;
  align-items: center;
  gap: 20px;
  position: relative;
  z-index: 5;
}
@media screen and (max-width: 550px) {
  footer .container {
    flex-direction: column;
  }
}
footer .container .logo {
  flex: 1 1 auto;
}

.head-title {
  position: relative;
  z-index: 3;
}

.sub-title {
  color: rgba(255, 255, 255, 0.25);
  position: relative;
  z-index: 3;
}

.main-btn {
  border: 1px solid rgba(255, 255, 255, 0.15);
  padding: 10px 10px 10px 30px;
  border-radius: 2em;
  display: inline-flex;
  align-items: center;
  gap: 30px;
  position: relative;
  overflow: hidden;
  z-index: 2;
}
@media screen and (max-width: 550px) {
  .main-btn.mdl-btn {
    width: 100%;
    text-align: center;
    justify-content: space-between;
  }
}
.main-btn.mdl-btn::after {
  content: url('data:image/svg+xml,<svg width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 11.8333L11.8333 1M11.8333 1V11.4M11.8333 1H1.43333" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg>');
  width: 50px;
  aspect-ratio: 1;
  display: grid;
  place-items: center;
  background-color: #d19761;
  border-radius: 50%;
  padding-top: 1px;
}
@media screen and (max-width: 1400px) {
  .main-btn.mdl-btn::after {
    width: 45px;
  }
}
@media screen and (max-width: 1000px) {
  .main-btn.mdl-btn::after {
    padding-top: 4px;
    padding-left: 1px;
    width: 40px;
  }
}
.main-btn.mdl-btn::before {
  content: "";
  position: absolute;
  transform: translate(50%, -50%) scale(0);
  top: 50%;
  right: 35px;
  border-radius: 50%;
  width: 0;
  aspect-ratio: 1;
  background-color: #d19761;
  transition: all 0.3s linear;
  width: 700px;
  z-index: -1;
}
@media screen and (max-width: 1000px) {
  .main-btn.mdl-btn::before {
    right: 30px;
  }
}
.main-btn.mdl-btn:hover::before {
  transform: translate(50%, -50%) scale(1);
}
.main-btn.sh-btn {
  z-index: 70;
  gap: 10px;
  padding: 0;
  border: none;
}
.main-btn.sh-btn::after {
  content: url('data:image/svg+xml,<svg width="8" height="8" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 7.5L7.5 1M7.5 1V7.24M7.5 1H1.26" stroke="white" stroke-width="0.9" stroke-linecap="round" stroke-linejoin="round"/></svg>');
  width: 30px;
  aspect-ratio: 1;
  display: grid;
  place-items: center;
  background-color: #d19761;
  border-radius: 50%;
  padding-bottom: 3px;
  transition: all 0.3s linear;
}
.main-btn.sh-btn:hover::after {
  content: url('data:image/svg+xml,<svg width="8" height="8" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 7.5L7.5 1M7.5 1V7.24M7.5 1H1.26" stroke="%23d19761" stroke-width="0.9" stroke-linecap="round" stroke-linejoin="round"/></svg>');
  background-color: #fff;
}

.ell {
  position: absolute;
  transform: translate(0, -50%);
  pointer-events: none;
}
@media screen and (max-width: 550px) {
  .ell {
    display: none;
  }
}

@media screen and (max-width: 550px) {
  section {
    overflow: hidden;
  }
}
#sec_1 {
  height: 100svh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}
#sec_1 video {
  position: absolute;
  pointer-events: none;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
#sec_1 .shadow {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background-image: linear-gradient(0deg, rgb(18, 18, 18), rgba(255, 255, 255, 0));
  background-repeat: no-repeat;
  background-size: contain;
}
#sec_1 .container {
  height: 100%;
  position: relative;
}
@media screen and (max-width: 550px) {
  #sec_1 .container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 50px;
  }
}
#sec_1 h1 {
  width: 7em;
  position: absolute;
  bottom: 80px;
}
@media screen and (max-width: 550px) {
  #sec_1 h1 {
    position: relative;
    bottom: 0;
    width: 100%;
    margin-bottom: 20px;
  }
}
#sec_1 .sec_1-cont {
  position: absolute;
  bottom: 80px;
  left: calc((100% - 440px) / 12 * 7 + 240px);
  width: 20em;
}
@media screen and (max-width: 550px) {
  #sec_1 .sec_1-cont {
    left: 0;
    position: relative;
    bottom: 0;
    width: 100%;
  }
}
#sec_1 .sec_1-cont .text {
  margin-bottom: 20px;
}

#sec_2 {
  background-color: #121212;
  position: relative;
}
#sec_2 .container {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  border-top: 1px solid rgba(255, 255, 255, 0.15);
}
#sec_2 .container .sec_2-cont {
  width: 25%;
  padding: 29px;
}
@media screen and (max-width: 1200px) {
  #sec_2 .container .sec_2-cont {
    padding: 20px;
  }
}
@media screen and (max-width: 1000px) {
  #sec_2 .container .sec_2-cont {
    width: 50%;
  }
  #sec_2 .container .sec_2-cont:first-child {
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  }
  #sec_2 .container .sec_2-cont:nth-child(2) {
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    border-right: none;
  }
}
#sec_2 .container .sec_2-cont:not(:last-child) {
  border-right: 1px solid rgba(255, 255, 255, 0.15);
}
#sec_2 .container .sec_2-cont img {
  margin-bottom: 20px;
}
#sec_2 .container .sec_2-cont .title {
  margin-bottom: 5px;
}
#sec_2 .container .sec_2-cont .text {
  color: rgba(255, 255, 255, 0.6);
}
#sec_2 .ell-1 {
  width: 33%;
  top: 110%;
  left: 0%;
}

#sec_3 {
  position: relative;
}
#sec_3 .ell-2 {
  width: 33%;
  top: 500px;
  right: 0%;
}
#sec_3 .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#sec_3 .head-title {
  width: 100%;
  margin-bottom: 40px;
}
#sec_3 .head-title span {
  color: rgba(255, 255, 255, 0.25);
}
#sec_3 .sec_3-cont {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  height: auto;
}
#sec_3 .sec_3-cont .video-cont {
  position: relative;
  width: 100%;
  height: auto;
  aspect-ratio: 16/9;
}
#sec_3 .sec_3-cont .video-cont:not(:nth-child(3n-2)) {
  width: calc(50% - 5px);
}
@media screen and (max-width: 550px) {
  #sec_3 .sec_3-cont .video-cont:not(:nth-child(3n-2)) {
    width: 100%;
  }
}
#sec_3 .sec_3-cont .video-cont .play-video {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: all 0.3s ease-in-out;
  opacity: 0;
  z-index: 2;
}
#sec_3 .sec_3-cont .video-cont .play-video.active {
  display: none;
}
#sec_3 .sec_3-cont .video-cont .play-video:before {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  content: url('data:image/svg+xml,<svg width="19" height="20" viewBox="0 0 19 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M0.614344 1.55399C0.64562 1.28897 0.738348 1.03492 0.885143 0.812074C1.03194 0.589226 1.22874 0.403734 1.45988 0.270376C1.69102 0.137017 1.95011 0.0594753 2.21651 0.0439273C2.48291 0.0283793 2.74926 0.0752544 2.99434 0.180819C4.23334 0.710486 7.01001 1.96932 10.5333 4.00282C14.0578 6.03749 16.537 7.81432 17.6138 8.62049C18.5332 9.30999 18.5355 10.6773 17.615 11.3692C16.5487 12.1707 14.0998 13.9242 10.5333 15.9845C6.96334 18.0448 4.21934 19.2885 2.99201 19.8112C1.93501 20.2627 0.752011 19.5778 0.614344 18.438C0.453344 17.1057 0.152344 14.0805 0.152344 9.99482C0.152344 5.91149 0.452178 2.88749 0.614344 1.55399Z" fill="black"/></svg>');
  background-color: #fff;
  width: 50px;
  aspect-ratio: 1;
  display: grid;
  place-items: center;
  padding-top: 7px;
  padding-left: 3px;
  border-radius: 50%;
}
#sec_3 .sec_3-cont .video-cont video {
  display: block;
  border-radius: 20px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
}
#sec_3 .sec_3-cont .video-cont:hover .play-video {
  opacity: 1;
}
#sec_3 .more-videos {
  margin-top: 20px;
  display: inline-block;
}

#sec_4 .ell-3 {
  left: 0;
  transform: translateY(0%);
  width: 30%;
}
#sec_4 .head-title {
  margin: 20px 0;
}
#sec_4 .desc-title {
  margin-bottom: 20px;
}
#sec_4 .video-cont {
  position: relative;
  width: 100%;
  height: auto;
  aspect-ratio: 1.6;
}
#sec_4 .video-cont img {
  display: block;
  border-radius: 20px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
}
#sec_4 .tab {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 40px;
  flex-wrap: wrap;
}
#sec_4 .tab button {
  padding: 0.77em 0.88em;
  border-radius: 8px;
  display: flex;
  gap: 10px;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.05);
  transition: all 0.3s ease-in-out;
}
@media screen and (max-width: 550px) {
  #sec_4 .tab button {
    width: calc(50% - 8px);
    justify-content: center;
  }
}
@media screen and (max-width: 400px) {
  #sec_4 .tab button {
    width: 100%;
  }
}
#sec_4 .tab button:nth-child(1)::before {
  height: 24px;
  aspect-ratio: 1;
  content: url('data:image/svg+xml,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M7 8C7 6.67392 7.52678 5.40215 8.46447 4.46447C9.40215 3.52678 10.6739 3 12 3C13.3261 3 14.5979 3.52678 15.5355 4.46447C16.4732 5.40215 17 6.67392 17 8V11C17 12.3261 16.4732 13.5979 15.5355 14.5355C14.5979 15.4732 13.3261 16 12 16C10.6739 16 9.40215 15.4732 8.46447 14.5355C7.52678 13.5979 7 12.3261 7 11V8Z" stroke="%23F0F0F0" stroke-width="1.5"/><path d="M13.5 8H17M13.5 11H17M7 8H9M7 11H9M20 10V11C20 13.1217 19.1571 15.1566 17.6569 16.6569C16.1566 18.1571 14.1217 19 12 19M12 19C9.87827 19 7.84344 18.1571 6.34315 16.6569C4.84285 15.1566 4 13.1217 4 11V10M12 19V22" stroke="%23F0F0F0" stroke-width="1.5" stroke-linecap="round"/></svg>');
}
#sec_4 .tab button:nth-child(2)::before {
  height: 24px;
  aspect-ratio: 1;
  content: url('data:image/svg+xml,<svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(%23clip0_2972_2205)"><mask id="mask0_2972_2205" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0" y="5" width="24" height="15"><mask id="mask1_2972_2205" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0" y="0" width="24" height="13"><path d="M24 0.5H0V12.5H24V0.5Z" fill="white"/></mask><g mask="url(%23mask1_2972_2205)"><path d="M23 17C23 10.9249 18.0751 6 12 6C5.92487 6 1 10.9249 1 17H23Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></g><mask id="mask2_2972_2205" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0" y="12" width="24" height="13"><path d="M0 24.5L24 24.5V12.5L0 12.5V24.5Z" fill="white"/></mask><g mask="url(%23mask2_2972_2205)"><path d="M1 8C1 14.0751 5.9249 19 12 19C18.0751 19 23 14.0751 23 8L1 8Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></g><path d="M12 15.5C13.6569 15.5 15 14.1569 15 12.5C15 10.8431 13.6569 9.5 12 9.5C10.3431 9.5 9 10.8431 9 12.5C9 14.1569 10.3431 15.5 12 15.5Z" fill="white"/></mask><g mask="url(%23mask0_2972_2205)"><path d="M24 0.5H0V24.5H24V0.5Z" fill="%23F0F0F0"/></g></g><defs><clipPath id="clip0_2972_2205"><rect width="24" height="24" fill="white" transform="translate(0 0.5)"/></clipPath></defs></svg>');
}
#sec_4 .tab button:nth-child(3)::before {
  height: 24px;
  aspect-ratio: 1;
  content: url('data:image/svg+xml,<svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9.5 3.5H4.5C3.67158 3.5 3 4.17158 3 5V20C3 20.8285 3.67158 21.5 4.5 21.5H19.5C20.3285 21.5 21 20.8285 21 20V15" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M9 9L11 15L17 13" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M11 15C13.5 7.5 15 6 20 4" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>');
}
#sec_4 .tab button:nth-child(4)::before {
  height: 24px;
  aspect-ratio: 1;
  content: url('data:image/svg+xml,<svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(%23clip0_2972_2231)"><path fill-rule="evenodd" clip-rule="evenodd" d="M14.2963 21.1095C14.0565 21.2878 13.7961 21.4337 13.5097 21.5115C12.7036 21.7276 11.823 21.4045 11.0537 21.1873C5.89631 19.7372 2.44186 17.4649 1.45101 14.0742C0.660068 11.3664 1.42076 8.65426 3.09342 6.96864C4.64289 5.40727 6.9401 4.77408 9.29673 5.7887C10.8311 3.73137 13.138 3.1306 15.2602 3.70868C17.5509 4.33215 19.565 6.30087 20.2338 9.04109C20.3657 9.57811 20.4305 10.1259 20.4316 10.6824C20.7071 10.8229 20.9686 10.9979 21.2096 11.2011C22.4597 12.2589 23.1275 14.0558 22.7547 15.9241C22.2793 18.3077 20.0696 19.9814 16.9091 21.1765C16.3677 21.3818 15.7756 21.6357 15.1845 21.532C14.856 21.4736 14.5621 21.304 14.2963 21.1095ZM3.52563 13.4691C2.94755 11.4885 3.52887 9.59972 4.62777 8.49218C5.68236 7.42894 7.24589 7.03347 8.97473 8.04484C9.57875 8.39818 10.3578 8.18855 10.7036 7.58238C11.6955 5.84165 13.2471 5.40187 14.6918 5.79518C16.1981 6.20578 17.646 7.54996 18.1344 9.55434C18.1938 9.7953 18.2338 10.0417 18.2532 10.2945C17.8573 10.3449 17.4712 10.4546 17.1079 10.6197C15.9474 9.48843 14.4109 9.26584 13.0559 9.76504C11.5194 10.3302 10.2768 11.791 9.98719 13.6744C9.6922 15.6031 10.6031 17.4833 12.2984 19.291C12.0845 19.237 11.863 19.1721 11.6393 19.1095C6.63539 17.7015 4.18367 15.722 3.52563 13.4691ZM12.1245 14.0018C12.2974 12.8672 13.031 12.0774 13.8025 11.7921C14.5157 11.5306 15.3077 11.6679 15.9096 12.5377C15.9993 12.6673 16.1138 12.7778 16.2465 12.8629C16.3793 12.948 16.5275 13.0059 16.6828 13.0333C16.838 13.0607 16.9971 13.0571 17.1509 13.0227C17.3048 12.9883 17.4503 12.9237 17.579 12.8327C18.4434 12.22 19.2343 12.3626 19.8135 12.8521C20.4424 13.3837 20.8595 14.3778 20.6347 15.5026C20.3916 16.7236 19.1566 18.0181 16.1451 19.1559C15.9539 19.2283 15.7637 19.3061 15.567 19.3634C15.4017 19.2413 15.2494 19.104 15.0938 18.9711C12.6539 16.8717 11.9354 15.2336 12.1245 14.0018Z" fill="white"/></g><defs><clipPath id="clip0_2972_2231"><rect width="24" height="24" fill="white" transform="translate(0 0.5)"/></clipPath></defs></svg>');
}
#sec_4 .tab button:nth-child(5)::before {
  margin-top: -3px;
  height: 24px;
  aspect-ratio: 1;
  content: url('data:image/svg+xml,<svg width="25" height="27" viewBox="0 0 25 27" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M3.2 18.9V23.1C3.2 23.7365 3.45286 24.347 3.90294 24.7971C4.35303 25.2471 4.96348 25.5 5.6 25.5H20C20.6365 25.5 21.247 25.2471 21.6971 24.7971C22.1471 24.347 22.4 23.7365 22.4 23.1V18.9M2 15.9V14.7C2 14.0635 2.25286 13.453 2.70294 13.0029C3.15303 12.5529 3.76348 12.3 4.4 12.3H21.2C21.8365 12.3 22.447 12.5529 22.8971 13.0029C23.3471 13.453 23.6 14.0635 23.6 14.7V15.9M12.8 8.7V12.3M12.8 8.7C14.3144 8.7 15.2 7.5384 15.2 5.55C15.2 3.5616 12.8 1.5 12.8 1.5C12.8 1.5 10.4 3.5616 10.4 5.55C10.4 7.5384 11.2856 8.7 12.8 8.7Z" stroke="%23F0F0F0" stroke-width="2.3" stroke-linecap="round" stroke-linejoin="round"/><path d="M2.00005 15.8999C2.00005 16.8547 2.37933 17.7704 3.05446 18.4455C3.72959 19.1206 4.64527 19.4999 5.60005 19.4999C6.55483 19.4999 7.4705 19.1206 8.14563 18.4455C8.82076 17.7704 9.20005 16.8547 9.20005 15.8999C9.20005 16.8547 9.57933 17.7704 10.2545 18.4455C10.9296 19.1206 11.8453 19.4999 12.8 19.4999C13.7548 19.4999 14.6705 19.1206 15.3456 18.4455C16.0208 17.7704 16.4 16.8547 16.4 15.8999C16.4 16.8547 16.7793 17.7704 17.4545 18.4455C18.1296 19.1206 19.0453 19.4999 20 19.4999C20.9548 19.4999 21.8705 19.1206 22.5456 18.4455C23.2208 17.7704 23.6 16.8547 23.6 15.8999" stroke="%23F0F0F0" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/></svg>');
}
#sec_4 .tab button:nth-child(6)::before {
  height: 24px;
  aspect-ratio: 1;
  content: url('data:image/svg+xml,<svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M12.6 7.5V5.5C12.6 4.4 11.7 3.5 10.6 3.5H4.59998C3.49998 3.5 2.59998 4.4 2.59998 5.5V19.5C2.59998 20.6 3.49998 21.5 4.59998 21.5H20.6C21.7 21.5 22.6 20.6 22.6 19.5V9.5C22.6 8.4 21.7 7.5 20.6 7.5H12.6ZM10.6 19.5H4.59998V17.5H10.6V19.5ZM10.6 15.5H4.59998V13.5H10.6V15.5ZM10.6 11.5H4.59998V9.5H10.6V11.5ZM10.6 7.5H4.59998V5.5H10.6V7.5ZM20.6 19.5H12.6V9.5H20.6V19.5ZM18.6 11.5H14.6V13.5H18.6V11.5ZM18.6 15.5H14.6V17.5H18.6V15.5Z" fill="white"/></svg>');
}
#sec_4 .tab button:hover {
  background-color: rgba(255, 255, 255, 0.15);
}
#sec_4 .tab button.active {
  background-color: #f0f0f0;
  color: #121212;
}
#sec_4 .tab button.active:nth-child(1)::before {
  height: 24px;
  aspect-ratio: 1;
  content: url('data:image/svg+xml,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M7 8C7 6.67392 7.52678 5.40215 8.46447 4.46447C9.40215 3.52678 10.6739 3 12 3C13.3261 3 14.5979 3.52678 15.5355 4.46447C16.4732 5.40215 17 6.67392 17 8V11C17 12.3261 16.4732 13.5979 15.5355 14.5355C14.5979 15.4732 13.3261 16 12 16C10.6739 16 9.40215 15.4732 8.46447 14.5355C7.52678 13.5979 7 12.3261 7 11V8Z" stroke="%23121212" stroke-width="1.5"/><path d="M13.5 8H17M13.5 11H17M7 8H9M7 11H9M20 10V11C20 13.1217 19.1571 15.1566 17.6569 16.6569C16.1566 18.1571 14.1217 19 12 19M12 19C9.87827 19 7.84344 18.1571 6.34315 16.6569C4.84285 15.1566 4 13.1217 4 11V10M12 19V22" stroke="%23121212" stroke-width="1.5" stroke-linecap="round"/></svg>');
}
#sec_4 .tab button.active:nth-child(2)::before {
  height: 24px;
  aspect-ratio: 1;
  content: url('data:image/svg+xml,<svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(%23clip0_2972_2205)"><mask id="mask0_2972_2205" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0" y="5" width="24" height="15"><mask id="mask1_2972_2205" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0" y="0" width="24" height="13"><path d="M24 0.5H0V12.5H24V0.5Z" fill="white"/></mask><g mask="url(%23mask1_2972_2205)"><path d="M23 17C23 10.9249 18.0751 6 12 6C5.92487 6 1 10.9249 1 17H23Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></g><mask id="mask2_2972_2205" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0" y="12" width="24" height="13"><path d="M0 24.5L24 24.5V12.5L0 12.5V24.5Z" fill="white"/></mask><g mask="url(%23mask2_2972_2205)"><path d="M1 8C1 14.0751 5.9249 19 12 19C18.0751 19 23 14.0751 23 8L1 8Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></g><path d="M12 15.5C13.6569 15.5 15 14.1569 15 12.5C15 10.8431 13.6569 9.5 12 9.5C10.3431 9.5 9 10.8431 9 12.5C9 14.1569 10.3431 15.5 12 15.5Z" fill="white"/></mask><g mask="url(%23mask0_2972_2205)"><path d="M24 0.5H0V24.5H24V0.5Z" fill="%23121212"/></g></g><defs><clipPath id="clip0_2972_2205"><rect width="24" height="24" fill="white" transform="translate(0 0.5)"/></clipPath></defs></svg>');
}
#sec_4 .tab button.active:nth-child(3)::before {
  height: 24px;
  aspect-ratio: 1;
  content: url('data:image/svg+xml,<svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9.5 3.5H4.5C3.67158 3.5 3 4.17158 3 5V20C3 20.8285 3.67158 21.5 4.5 21.5H19.5C20.3285 21.5 21 20.8285 21 20V15" stroke="%23121212" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M9 9L11 15L17 13" stroke="%23121212" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M11 15C13.5 7.5 15 6 20 4" stroke="%23121212" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>');
}
#sec_4 .tab button.active:nth-child(4)::before {
  height: 24px;
  aspect-ratio: 1;
  content: url('data:image/svg+xml,<svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(%23clip0_2972_2231)"><path fill-rule="evenodd" clip-rule="evenodd" d="M14.2963 21.1095C14.0565 21.2878 13.7961 21.4337 13.5097 21.5115C12.7036 21.7276 11.823 21.4045 11.0537 21.1873C5.89631 19.7372 2.44186 17.4649 1.45101 14.0742C0.660068 11.3664 1.42076 8.65426 3.09342 6.96864C4.64289 5.40727 6.9401 4.77408 9.29673 5.7887C10.8311 3.73137 13.138 3.1306 15.2602 3.70868C17.5509 4.33215 19.565 6.30087 20.2338 9.04109C20.3657 9.57811 20.4305 10.1259 20.4316 10.6824C20.7071 10.8229 20.9686 10.9979 21.2096 11.2011C22.4597 12.2589 23.1275 14.0558 22.7547 15.9241C22.2793 18.3077 20.0696 19.9814 16.9091 21.1765C16.3677 21.3818 15.7756 21.6357 15.1845 21.532C14.856 21.4736 14.5621 21.304 14.2963 21.1095ZM3.52563 13.4691C2.94755 11.4885 3.52887 9.59972 4.62777 8.49218C5.68236 7.42894 7.24589 7.03347 8.97473 8.04484C9.57875 8.39818 10.3578 8.18855 10.7036 7.58238C11.6955 5.84165 13.2471 5.40187 14.6918 5.79518C16.1981 6.20578 17.646 7.54996 18.1344 9.55434C18.1938 9.7953 18.2338 10.0417 18.2532 10.2945C17.8573 10.3449 17.4712 10.4546 17.1079 10.6197C15.9474 9.48843 14.4109 9.26584 13.0559 9.76504C11.5194 10.3302 10.2768 11.791 9.98719 13.6744C9.6922 15.6031 10.6031 17.4833 12.2984 19.291C12.0845 19.237 11.863 19.1721 11.6393 19.1095C6.63539 17.7015 4.18367 15.722 3.52563 13.4691ZM12.1245 14.0018C12.2974 12.8672 13.031 12.0774 13.8025 11.7921C14.5157 11.5306 15.3077 11.6679 15.9096 12.5377C15.9993 12.6673 16.1138 12.7778 16.2465 12.8629C16.3793 12.948 16.5275 13.0059 16.6828 13.0333C16.838 13.0607 16.9971 13.0571 17.1509 13.0227C17.3048 12.9883 17.4503 12.9237 17.579 12.8327C18.4434 12.22 19.2343 12.3626 19.8135 12.8521C20.4424 13.3837 20.8595 14.3778 20.6347 15.5026C20.3916 16.7236 19.1566 18.0181 16.1451 19.1559C15.9539 19.2283 15.7637 19.3061 15.567 19.3634C15.4017 19.2413 15.2494 19.104 15.0938 18.9711C12.6539 16.8717 11.9354 15.2336 12.1245 14.0018Z" fill="%23121212"/></g><defs><clipPath id="clip0_2972_2231"><rect width="24" height="24" fill="white" transform="translate(0 0.5)"/></clipPath></defs></svg>');
}
#sec_4 .tab button.active:nth-child(5)::before {
  margin-top: -3px;
  height: 24px;
  aspect-ratio: 1;
  content: url('data:image/svg+xml,<svg width="25" height="27" viewBox="0 0 25 27" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M3.2 18.9V23.1C3.2 23.7365 3.45286 24.347 3.90294 24.7971C4.35303 25.2471 4.96348 25.5 5.6 25.5H20C20.6365 25.5 21.247 25.2471 21.6971 24.7971C22.1471 24.347 22.4 23.7365 22.4 23.1V18.9M2 15.9V14.7C2 14.0635 2.25286 13.453 2.70294 13.0029C3.15303 12.5529 3.76348 12.3 4.4 12.3H21.2C21.8365 12.3 22.447 12.5529 22.8971 13.0029C23.3471 13.453 23.6 14.0635 23.6 14.7V15.9M12.8 8.7V12.3M12.8 8.7C14.3144 8.7 15.2 7.5384 15.2 5.55C15.2 3.5616 12.8 1.5 12.8 1.5C12.8 1.5 10.4 3.5616 10.4 5.55C10.4 7.5384 11.2856 8.7 12.8 8.7Z" stroke="%23121212" stroke-width="2.3" stroke-linecap="round" stroke-linejoin="round"/><path d="M2.00005 15.8999C2.00005 16.8547 2.37933 17.7704 3.05446 18.4455C3.72959 19.1206 4.64527 19.4999 5.60005 19.4999C6.55483 19.4999 7.4705 19.1206 8.14563 18.4455C8.82076 17.7704 9.20005 16.8547 9.20005 15.8999C9.20005 16.8547 9.57933 17.7704 10.2545 18.4455C10.9296 19.1206 11.8453 19.4999 12.8 19.4999C13.7548 19.4999 14.6705 19.1206 15.3456 18.4455C16.0208 17.7704 16.4 16.8547 16.4 15.8999C16.4 16.8547 16.7793 17.7704 17.4545 18.4455C18.1296 19.1206 19.0453 19.4999 20 19.4999C20.9548 19.4999 21.8705 19.1206 22.5456 18.4455C23.2208 17.7704 23.6 16.8547 23.6 15.8999" stroke="%23121212" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/></svg>');
}
#sec_4 .tab button.active:nth-child(6)::before {
  height: 24px;
  aspect-ratio: 1;
  content: url('data:image/svg+xml,<svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M12.6 7.5V5.5C12.6 4.4 11.7 3.5 10.6 3.5H4.59998C3.49998 3.5 2.59998 4.4 2.59998 5.5V19.5C2.59998 20.6 3.49998 21.5 4.59998 21.5H20.6C21.7 21.5 22.6 20.6 22.6 19.5V9.5C22.6 8.4 21.7 7.5 20.6 7.5H12.6ZM10.6 19.5H4.59998V17.5H10.6V19.5ZM10.6 15.5H4.59998V13.5H10.6V15.5ZM10.6 11.5H4.59998V9.5H10.6V11.5ZM10.6 7.5H4.59998V5.5H10.6V7.5ZM20.6 19.5H12.6V9.5H20.6V19.5ZM18.6 11.5H14.6V13.5H18.6V11.5ZM18.6 15.5H14.6V17.5H18.6V15.5Z" fill="%23121212"/></svg>');
}
#sec_4 .tabcontent {
  display: none;
  animation: fadeEffect 1s;
  display: flex;
  align-items: flex-start;
  gap: 50px;
}
@media screen and (max-width: 1000px) {
  #sec_4 .tabcontent {
    flex-wrap: wrap;
    gap: 30px;
  }
}
#sec_4 .tabcontent .tab-card {
  width: 25em;
}
@media screen and (max-width: 1000px) {
  #sec_4 .tabcontent .tab-card {
    width: 100%;
  }
}
#sec_4 .tabcontent .tab-card .title {
  width: 100%;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
#sec_4 .tabcontent .tab-card .desc {
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 40px;
  margin-top: 20px;
}
#sec_4 .tabcontent .tab-card .points-cont {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#sec_4 .tabcontent .tab-card .points-cont .point {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 20px;
}
#sec_4 .tabcontent .tab-card .points-cont .point .line {
  min-width: 0.5em;
  height: 2px;
  flex: 1 1 auto;
  background-color: rgba(255, 255, 255, 0.15);
}
#sec_4 .tabcontent .tab-card .points-cont .point .p-desc {
  white-space: nowrap;
}
#sec_4 .tabcontent .tab-card .bot-cont {
  margin-top: 40px;
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: space-between;
}
@media screen and (max-width: 550px) {
  #sec_4 .tabcontent .tab-card .bot-cont {
    flex-direction: column-reverse;
    align-items: flex-start;
  }
}
@media screen and (max-width: 550px) {
  #sec_4 .tabcontent .tab-card .bot-cont .total-cont {
    display: flex;
    gap: 5px;
  }
}
#sec_4 .tabcontent .tab-card .bot-cont .total-cont div:first-child {
  color: rgba(255, 255, 255, 0.6);
}
#sec_4 .tabcontent .tab-card .bot-cont .total-cont div:last-child {
  font-size: 18px;
}
#sec_4 .tabcontent .tab-video-cont {
  width: calc(100% - 50px - 25em);
}
@media screen and (max-width: 1000px) {
  #sec_4 .tabcontent .tab-video-cont {
    width: 100%;
  }
}
#sec_4 .tabcontent .tab-video-cont .video-desc {
  margin-top: 20px;
  color: rgba(255, 255, 255, 0.6);
}
@media screen and (max-width: 550px) {
  #sec_4 .tabcontent .tab-video-cont .video-desc span {
    display: inline-block;
    width: 100%;
    text-align: justify;
  }
}
#sec_4 .tabcontent .tab-video-cont .video-desc a {
  color: #f0f0f0;
  font-size: 18px;
}
@keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#sec_5 {
  overflow: hidden;
  position: relative;
}
#sec_5 .head-title {
  position: relative;
  margin: 20px 0;
  z-index: 3;
}
@media screen and (max-width: 550px) {
  #sec_5 .head-title {
    text-align: justify;
  }
}
#sec_5 .blocks-cont {
  display: flex;
  flex-wrap: wrap;
  gap: 40px 20px;
}
#sec_5 .blocks-cont .block-cont {
  width: calc((100% - 40px) / 3);
}
@media screen and (max-width: 550px) {
  #sec_5 .blocks-cont .block-cont {
    width: 100%;
  }
}
#sec_5 .blocks-cont .block-cont svg,
#sec_5 .blocks-cont .block-cont img {
  margin-bottom: 20px;
}
#sec_5 .blocks-cont .block-cont img {
  width: 100%;
  aspect-ratio: 464/171;
  object-fit: cover;
  border-radius: 20px;
}
#sec_5 .blocks-cont .block-cont .title {
  margin-bottom: 10px;
}
#sec_5 .blocks-cont .block-cont .text {
  color: rgba(255, 255, 255, 0.6);
}
@media screen and (max-width: 550px) {
  #sec_5 .blocks-cont .block-cont .text {
    text-align: justify;
  }
}
#sec_5 .blocks-cont .line {
  width: 100%;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.15);
}
#sec_5 .star-cont {
  padding: 40px 0;
  position: relative;
  line-height: 1.2;
}
#sec_5 .star-cont svg {
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
}
#sec_5 .star-cont .text1 {
  width: 80%;
  margin-bottom: 40px;
}
@media screen and (max-width: 550px) {
  #sec_5 .star-cont .text1 {
    width: 100%;
    margin-bottom: 20px;
    text-align: justify;
  }
}
#sec_5 .star-cont .text2 {
  margin-left: 50%;
  width: 40%;
}
@media screen and (max-width: 550px) {
  #sec_5 .star-cont .text2 {
    margin-left: 0;
    width: 100%;
    text-align: justify;
  }
}

#sec_6 {
  overflow: hidden;
}
#sec_6 .head-title {
  margin: 20px 0;
}
#sec_6 .swiper-cont {
  position: relative;
}
#sec_6 .swiper-review-prev {
  position: absolute;
  right: 70px;
  top: -80px;
  height: 50px;
  aspect-ratio: 1;
  background-color: #fff;
  border-radius: 50%;
  display: grid;
  place-items: center;
  padding-top: 5px;
  z-index: 5;
  cursor: pointer;
}
@media screen and (max-width: 550px) {
  #sec_6 .swiper-review-prev {
    height: 40px;
    right: auto;
    top: calc(100% + 20px);
    left: 0;
  }
}
#sec_6 .swiper-review-prev::before {
  content: url('data:image/svg+xml,<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M17.2433 10.4162H1.92268M1.92268 10.4162L9.27659 17.7701M1.92268 10.4162L9.27659 3.06227" stroke="%23121212" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg>');
}
#sec_6 .swiper-review-next {
  position: absolute;
  right: 0px;
  top: -80px;
  height: 50px;
  aspect-ratio: 1;
  background-color: #fff;
  border-radius: 50%;
  display: grid;
  place-items: center;
  padding-top: 5px;
  z-index: 5;
  cursor: pointer;
}
@media screen and (max-width: 550px) {
  #sec_6 .swiper-review-next {
    height: 40px;
    right: 0px;
    top: -80px;
    right: auto;
    top: calc(100% + 20px);
    left: 60px;
  }
}
#sec_6 .swiper-review-next::before {
  content: url('data:image/svg+xml,<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M2.75667 10.4162H18.0773M18.0773 10.4162L10.7234 17.7701M18.0773 10.4162L10.7234 3.06227" stroke="%23121212" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg>');
}
#sec_6 .swiper-review {
  width: 100%;
}
@media screen and (max-width: 550px) {
  #sec_6 .swiper-review {
    margin-bottom: 60px;
  }
}
#sec_6 .swiper-review .swiper-slide {
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.05);
  border: 2px solid rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(10px);
  height: auto;
  padding: 1.5em;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
#sec_6 .swiper-review .swiper-slide .message {
  flex: 1 1 auto;
}
#sec_6 .swiper-review .swiper-slide .name {
  color: rgba(255, 255, 255, 0.6);
}

#sec_7 {
  position: relative;
}
#sec_7 .ell-4 {
  transform: translateY(-50%);
  left: 0;
  width: 40%;
  top: 100%;
}
#sec_7 .clients-cont {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}
@media screen and (max-width: 550px) {
  #sec_7 .clients-cont {
    gap: 20px;
  }
}
#sec_7 .clients-cont .clients-item {
  position: relative;
  width: calc((100% - 200px) / 6);
  transition: all 0.3s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1em;
  padding: 10px;
  box-shadow: 0px 0px 25px 0px rgba(209, 151, 97, 0);
}
@media screen and (max-width: 550px) {
  #sec_7 .clients-cont .clients-item {
    width: calc((100% - 40px) / 2);
  }
}
#sec_7 .clients-cont .clients-item img {
  z-index: 2;
  width: 100%;
}
#sec_7 .clients-cont .clients-item:hover {
  box-shadow: 0px 0px 15px 0px rgba(209, 151, 97, 0.7);
}

#sec_8 {
  position: relative;
  height: calc(100vh + 1400px);
  overflow: unset !important;
}
#sec_8 .head-title {
  margin: 20px 0;
}
#sec_8 > .container {
  height: 100vh;
  top: 0;
  left: 0;
  position: sticky;
  padding-top: 200px;
}
@media screen and (max-width: 1000px) {
  #sec_8 > .container {
    padding-top: 100px;
  }
}
#sec_8 .point-item {
  margin-bottom: 5px;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}
#sec_8 .point-item .point {
  font-family: ProximaNova-Regular;
  position: relative;
  margin-bottom: 5px;
}

#sec_9 {
  position: relative;
  z-index: 5;
}
#sec_9 .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
}
#sec_9 .container .line {
  width: 100%;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.15);
}
#sec_9 .container .top-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  text-align: center;
}
#sec_9 .container .bottom-cont {
  display: flex;
  align-items: center;
  gap: 40px;
  text-align: center;
}
@media screen and (max-width: 550px) {
  #sec_9 .container .bottom-cont {
    gap: 20px;
    flex-direction: column;
    font-size: 25px;
  }
}